@media (max-width: 700px) {
  .project_details {
    max-width: 98vw;
    padding: 1em 0.5em;
  }
  .project_details_header {
    flex-direction: column;
    gap: 1em;
    align-items: stretch;
    width: 100%;
  }
  .project_details h1 {
    font-size: inherit;
    min-width: 200px;
    width: fit-content;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .btn {
    width: fit-content;
    font-size: inherit;
    margin-left: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.project_details {
    padding: 2em;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.project_details h1,
.project_datails h2,
.project_details p {
    margin-bottom: 1em;
}

.project_details_header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    gap: 3em;
    width: 100%;
}

.project_details h1{
    background: linear-gradient(135deg, #ce79ff, #ff0062, #ffd900);
    color: black;
    padding: 0.4em;
    position: relative;
    margin: 0;
    white-space: nowrap;
}

.project_details span{
    font-weight: bold;
}

.details_container,
.service_form_container{
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
}

.details_container::after,
.service_form_container::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(135deg, #ce79ff, #ff0062, #ffd900);
    border-radius: 2px;
}

.btn{
    background: linear-gradient(135deg, #ce79ff, #ff0062, #ffd900);
    color: rgb(0, 0, 0);
    padding: 0.5em 1em;
    text-decoration: none;
    transition: 0.5s;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 0.9em;
    width: fit-content;
    white-space: nowrap;
    margin-left: 15em;
}

.btn:hover{
    color: white;
}

.project_info{
    width: 100% ;
}


.services_form_container{
  display: flex;
}

.buttons_two {
  background: linear-gradient(135deg, #ce79ff, #ff0062, #ffd900);
  color: rgb(0, 0, 0);
  padding: 0.5em 1em;
  text-decoration: none;
  transition: 0.5s;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 0.9em;
  width: fit-content;
  white-space: nowrap;
  margin-left: 21em;
}

.buttons_two:hover{
  color: white;
}

